*, :before, :after{
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

body {
  font-family: 'Epilogue', sans-serif;
}

:root{
  --dark-blue: #28293e;
  --gray: rgba(255,255,255,0.6392156862745098 );
  --milky-light: #FDF0E9;
  --dark-brown: rgba(57,20,0,0.6392156862745098 );
  --green: #2AD061;
  --light-green :#4FE24A;
}
